@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --font-family: "Pretendard Variable", Pretendard, sans-serif;

    --color-primary: #92BBA8;
}

body {
    font-family: var(--font-family) !important;
    letter-spacing: -0.02em;

    margin: 0;
    padding: 0;
    background-color: #F6F8F7;
}

.btn-primary {
    border-width: 2px !important;
    border-style: solid !important;
}

.btn-primary:hover {
    color: #ffffff !important;
}

.text-primary {
    color: #2F3E3A !important;
}

.goal-nav {
    background-color: #E9EFEC;
}

.nav-tooltip:before {
    background-color: #3C4650 !important;
}

.nav-tooltip:after {
    background-color: #3C4650 !important;
}