#emotion-container input[type=radio] {
    display: none;
}

#emotion-container input[type="radio"]:checked+.emotion-label {
    background-color: white;
    border: 3px solid #657899;
    border-radius: 1rem;
}

.emotion-tooltip:before {
    background-color: #657899 !important;
    color: white !important;
}

.emotion-tooltip:after {
    background-color: #657899 !important;
}

.text-primary {
    color: #6e8c7e !important;
}

.streak {
    font-family: var(--font-pixel);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 1rem;
    border: 1px solid #818181;
    border-radius: 3px;
    box-shadow: 3px 3px 0px #818181;
    margin-bottom: 0.5rem;
}