<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/head :: head-config('대시보드 | goalmate', ~{ :: dashboard-head})}">
    <th:block th:fragment="dashboard-head">
        <link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
        <link th:href="@{/css/dashboard.css}" href="../css/dashboard.css" rel="stylesheet">

        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </th:block>
</head>

<body>
    <div class="flex flex-col h-screen">
        <header th:replace="~{fragments/nav :: topNav(false)}"></header>
        <div class="flex flex-1 overflow-hidden">
            <aside th:replace="~{fragments/nav :: leftNav}" class="overflow-y-auto"></aside>

            <div class="flex-1 overflow-y-auto">
                <div class="flex flex-row gap-3 w-full p-10 pb-3 min-w-0">
                    <div class="card flex-none w-fit bg-base-100 shadow-sm border border-base-200 overflow-hidden">
                        <div class="card-body p-5">
                            <div class="flex justify-between items-center">
                                <h2 class="card-title mb-2">📅 오늘의 일간 목표</h2>
                                <span class="badge badge-outline justify-center"
                                    th:text="|${#lists.size(dailyGoals)} / 3|"></span>
                            </div>
                            <div class="streak bg-base-200">
                                🔥 연속 [[${streak.currentStreak}]]일째 목표 달성 중 🔥
                            </div>
                            <div>
                                <ul class="menu w-full bg-base-200 rounded-box gap-1">
                                    <li th:if="${#lists.isEmpty(dailyGoals)}">등록된 일간 목표가 없어요!</li>
                                    <li th:unless="${#lists.isEmpty(dailyGoals)}" th:each="goal : ${dailyGoals}">
                                        <label class="goal-item-btn justify-start font-normal" th:data-id="${goal.id}"
                                            th:data-result="${goal.result}">
                                            <input type="checkbox" class="checkbox checkbox-sm"
                                                th:checked="${goal.result.name() == 'SUCCESS'}">
                                            <span th:text="${goal.task}">목표 제목</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-none w-fit bg-base-100 shadow-sm border border-base-200 overflow-hidden">
                        <div class="card-body p-5">
                            <h2 class="card-title mb-2">이번달 목표 달성률</h2>
                            <div class="grid grid-cols-2">
                                <div th:each="s : ${successRateStat}">
                                    <div class="flex flex-col text-center m-2 p-2 bg-base-200 rounded-box">
                                        <div class="mb-1" th:text="${s.type.name()}"></div>
                                        <div class="radial-progress text-primary"
                                            th:style="|--value:${s.successRate}; --size:8rem; --thickness: 0.5rem;|"
                                            th:aria-valuenow="${s.successRate}" role="progressbar"
                                            th:utext="|${s.successRate}%<br>${s.successCount} / ${s.totalCount}|">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-1 min-w-0 bg-base-100 shadow-sm border border-base-200 overflow-hidden">
                        <div class="card-body p-5 flex-col h-full">
                            <h2 class="card-title mb-2">지난달 감정별 목표 달성률</h2>
                            <div class="flex-1 min-h-0 w-full relative">
                                <canvas id="emotion-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-10 pt-0">
                    <div class="card bg-base-100 shadow-sm border border-base-200 overflow-hidden">
                        <div class=" card-body p-7 flex flex-row items-start gap-8 overflow-x-auto">
                            <div class="flex flex-col w-fit">
                                <h2 class="card-title mb-2">하루 기록</h2>
                                <div class="flex justify-between item-center">
                                    <div class="badge badge-neutral badge-dash mb-2">
                                        <span id="year-span" class="tracking-[0.1em]"></span>
                                    </div>
                                    <div id="year-btn-container">
                                        <button id="year-left-btn" class="btn btn-ghost p-0">
                                            <i data-lucide="square-chevron-left" class="w-6 h-6"></i>
                                        </button>
                                        <button id="year-right-btn" class="btn btn-ghost p-0">
                                            <i data-lucide="square-chevron-right" class="w-6 h-6"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="cal-heatmap"></div>
                            </div>
                            <div id="daily-record-container" class="flex-1 gap-3">
                                <div>
                                    <form>
                                        <div class="badge badge-neutral badge-dash">
                                            <i data-lucide="notebook-text" class="w-4 h-4"></i>
                                            <span id="record-date-span"></span>
                                        </div>
                                        <div id="emotion-container" class="pb-2">
                                            <fieldset class="fieldset flex rounded-box border p-2 border-base-300">
                                                <legend class="fieldset-legend">감정 선택</legend>
                                                <div class="flex justify-center w-full gap-2">
                                                    <span class="tooltip emotion-tooltip" th:each="emo : ${emotions}"
                                                        th:data-tip="${emo.description}">
                                                        <input type="radio" th:id="|emo-${emo.name()}|"
                                                            name="selectedEmotion" th:value="${emo.name()}">
                                                        <label th:for="|emo-${emo.name()}|"
                                                            class="emotion-label btn btn-circle btn-sm text-lg">
                                                            <span class="emotion-icon"
                                                                th:data-emotion="${emo.name()}"></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div>
                                            <div class="relative">
                                                <textarea id="record-content"
                                                    class="textarea w-full mb-2 resize-y overflow-hidden pb-8"
                                                    maxlength="50" placeholder="오늘 하루는 어땠나요?"></textarea>
                                                <div
                                                    class="absolute bottom-2 right-3 text-xs mb-2 text-base-content/50">
                                                    <span id="char-count">0</span> / 50
                                                </div>
                                            </div>
                                            <div class="flex gap-2 justify-end">
                                                <span id="updated-at-text" class="mt-auto text-gray-300"></span>
                                                <button type="button" id="delete-btn" class="btn rounded-full hidden">삭제
                                                </button>
                                                <button type="button" id="save-btn"
                                                    class="btn btn-outline btn-primary rounded-full">추가
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/script :: common-script}"></th:block>
    <script type="module" th:src="@{/js/dashboard.js}"></script>
    <script type="module" th:inline="javascript">
        import { EMOTION_ICON } from '/js/dashboard.js';

        const emotionChart = document.getElementById('emotion-chart');

        const emotionStatData = [
            /*[# th:each="e : ${emotionStat}"]*/
            {
                name: /*[[${e.name}]]*/ '이름',
                description: /*[[${e.description}]]*/ '설명',
                recordedCount: /*[[${e.recordedCount}]]*/ '횟수',
                successRate: /*[[${e.successRate}]]*/ '달성률'
            },
            /*[/]*/
        ];

        const successRateStatData = [
            /*[# th:each="s : ${successRateStat}"]*/
            {
                type: /*[[${s.type}]]*/ '구분',
                successRate: /*[[${s.successRate}]]*/ '달성률',
                successCount: /*[[${s.successCount}]]*/ '달성목표수',
                totalCount: /*[[${s.totalCount}]]*/ '총목표수'
            },
            /*[/]*/
        ];

        const emotionChartLabels = emotionStatData.map(e => {
            return `${EMOTION_ICON[e.name]} ${e.description}`;
        });

        const emotionCounts = emotionStatData.map(e => {
            return e.recordedCount;
        });

        const emotionSuccessRate = emotionStatData.map(e => {
            return e.successRate;
        });

        const successRate = successRateStatData.map(s => {
            return s.successRate
        });

        new Chart(emotionChart, {
            data: {
                labels: emotionChartLabels,
                datasets: [
                    {
                        type: 'bar',
                        label: '횟수',
                        data: emotionCounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        yAxisID: 'y',
                    },
                    {
                        type: 'line',
                        label: '목표 달성률 (%)',
                        data: emotionSuccessRate,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderWidth: 3,
                        fill: false,
                        yAxisID: 'y1',
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        beginAtZero: true,
                        title: { display: true, text: '기록 횟수' }
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        min: 0,
                        max: 100,
                        grid: { drawOnChartArea: false },
                        title: { display: true, text: '달성률 (%)' }
                    }
                }
            }
        });
    </script>
</body>

</html>